//Set up Theme Fonts & Typography
body,
p,
h2,
h3 {
  font-family: "Gudea", Verdana, Helvetica, sans-serif;
}

h1 {
  font-family: "Rancho", cursive;
}

//*********************************
// MENU BAR CONTAINER AND CONTENT
//*********************************
.home,
.page-id-2160 {
  .featured-area h1.entry-title::before {
    content: url("./images/finallogo-newsite.png");
    display: flex;
    justify-content: center;
  }
}
// Adjusts logo size - todo add image using ::after
.site-header h1 {
  font-size: 2em;
}

//hide text logo on home screen & centre menu
.home,
.page-id-2160 {
  .site-logo-wrap {
    display: none;
  }
}
.home,
.page-id-2160 {
  .site-header .container {
    display: flex;
    justify-content: center;
    #primary-nav {
      width: auto;
    }
  }
}

// Adjusts menu font size
#primary-nav ul li a {
  font-size: 16px;
}

//Adjusts sub menu size
#primary-nav ul .sub-menu a {
  width: 280px;
}

#primary-nav ul .sub-menu .sub-menu {
  left: -280px;
}

//*********************************
// HOME PAGE HEADER EDITS
//*********************************

//Adjusts parallax image overlay
header .featured-area::before {
  background-color: white;
  opacity: 0.3;
}

// Changes Color of HomePage Title
.sd .featured-area h1.entry-title {
  color: black;
}

// Makes home page header search wider
body
  .geodir-listing-search.gd-search-bar-style
  .geodir-loc-bar
  .clearfix.geodir-loc-bar-in
  .geodir-search
  .gd-search-input-wrapper.gd-search-field-cpt {
  min-width: 190px;
}

// Increases width of header categories links
header .featured-area .geodir-categories-container .gd-cptcat-rows ul {
  min-width: 125px;
}

// Increase size of header categories links icons
.geodir-categories-container ul li a .gd-cptcat-icon img {
  height: auto;
  margin-top: 5%;
}

//*********************************
// HOME LISTINGS WIDGETS
//*********************************

body
  ul.geodir-category-list-view
  li
  .gd-list-item-right
  .geodir-field-post_content {
  max-height: 135px;
  .gd-read-more {
    background-image: none;
    background-color: white;
    padding: 0;
  }
}
